<div class="body">
<div class="container">
   <div class="row">
      <div class="col-md-12">
     <h1>Quotes</h1>
        <hr>
      </div>


  <div  class="col-md-4 content" *ngFor='let quote of quotes;let i=index'>
      <div id="{{i}}" appHighlight *ngIf="quotes.vote===maxCount && quotes.vote>0">

        </div>
        <div>
    <p class="afg">{{quote.name}}</p>
  <p id="{{i}}">{{quote.date|dateCount}} days ago</p>
  <button class="btn btn-dark"  (click)='toogleDetails(i)'>Details</button><br/>
  <button class="btn btn-success"  (click)="addVotes(i)">
    <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
  </button>
  <button  class="btn btn-danger" (click)="minusVotes(i)">
    <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
  </button>
  <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteGoal($event,i)'></app-quote-details>
</div >
  </div>
</div>
</div>
</div>
<div class="container-fluid" id="con">

  <div class="incomingform">
      <app-quote-form class="form" (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>

</div>



