<h1>Quotes</h1>
<hr>

<ul>
  <div *ngFor='let quote of quotes;let i=index'>
  <li>{{quote.name}}</li>
  <button  (click)='toogleDetails(i)'>Details</button>
  <button class="btn btn-success" (click)="addVotes(i)">
    <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
  </button>
  <button class="btn btn-danger" (click)="minusVotes(i)">
    <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
  </button>
  <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteGoal($event,i)'></app-quote-details>

  </div>
</ul>


