.container{
  text-align: center;
  background-color: aqua;
  padding: 0;
  background-size:cover;
  font-size:12px;
}
#con{
  text-align: center;

}
#fun{
  font-size: 2em;
  height:60px;
  width:60px;
}
