
      <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="row">
            <div class="col-md-6">
          <div class="form-group">
              <label for="name">Author</label>
              <input type="text"  class="form-control" id="name" [(ngModel)]="newQuote.description" name="name" #decription="ngModel" required>


          </div>
          <div class="form-group">
              <label for="complete">Date</label>
              <input type='date' id="complete" [(ngModel)]="newQuote.date" name="Date" #date="ngModel" required >

            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="description">Quote</label>
                <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.name" name="description" #name="ngModel" required></textarea>

            </div>
        </div>
          </div>

          <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
      </form>

